body, html {
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: #1a1a1a;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
}

.Navbar {
    position: fixed;
    background: #232a34;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: .6rem 1.75rem;
    z-index: 1;
}
.Navbar-transparent{
    background: 0 0 !important;
}

.Navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Navbar-container-item{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.Navbar-navig{
    display: flex;
    align-items: center;
}

.Navbar-navig-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.15rem;
    text-decoration: none;
}

.Navbar-navig-logo-img{
    max-width: 32px;
    max-height: 32px;
    height: 100%;
}

.Navbar-navig-logo-txt{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 24px;
}
@media (max-width: 849px) {
    .Navbar-navig-logo-txt {
        display: none !important;
    }
}

.Navbar-search{
    flex-basis: 100%;
    width: 100%;
    max-width: 550px;
    background: rgba(255,255,255,.25);
    border-radius: 2px;
}
.Navbar-search-hide{
    display: none;
}

.text-input-with-btn {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="search"]{
    flex-basis: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    padding: .6rem 1.15rem;
}
input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
#nav-srch{
    min-height: 42px;
    color: #fff;
}

.transparent-btn{
    background: transparent;
    border: none;
    outline: none;
    margin-right: 1.15rem;
}

.Hero-container{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-content{
    max-width: 650px;
    width: 100%;
    margin: 20px;
}

.Hero-title{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.Hero-search{
    background: #fff;
    border-radius: 2px;
}
#hero-srch{
    min-height: 54px;
    color: #1a1a1a;
}

.Hero-search-tags-container, .search-categories{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: .6rem 0;
}
.Hero-search-tags-container #sggst{
    font-weight: 500;
}
.search-categories a, .Hero-footer a{
    text-decoration: none;
    color: #ddd;
}
ul .search-categories li{
    margin-left: 5px;
}
.search-categories a:hover, .Hero-footer a:hover{
    color: #fff;
}
.search-categories li:after{
    content: ',';
}
.search-categories li:last-child:after{
    content: none;
}

.Hero-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px 16px;
}
.Hero-footer a{
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
}